<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImagePickerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8317D80C1E8CF6D500DFA538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8317D8251E8CF6D600DFA538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8317D8301E8CF6D600DFA538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
